
<table class="table table-sm borderless table-success table-striped table-hover">
<!-- <thead class="table border">
<tr *ngIf="arr && arr.length" scope="col">
    <th class="col-2" scope="col">Status</th>
    <th class="col-8" scope="col">Task</th>
    <th class="col-2" scope="col">Delete</th>
</tr>
</thead> -->
<tbody>
<tr *ngFor="let task of arr; let i=index" class="border d-flex">
    <td class="col-2" *ngIf="arr && arr.length" (click)="toggleState()">
        <i class="bi bi-circle" *ngIf="isTodo"></i>
        <i class="bi bi-check-circle" *ngIf="!isTodo"></i>
    </td>
    <td class="col-8" *ngIf="arr && arr.length">
        {{task.label}}
    </td>
    <td class="col-2" (click)="deleteTaskChild(i)" *ngIf="arr && arr.length">
        <i class="bi bi-x"></i>
    </td>
</tr>
<tr *ngIf="!arr || !arr.length">
    <td class="col">
        No tasks present, good job!
    </td>
</tr>
</tbody>
</table>